body {
  background-color: #222;
  color: #dfd5ab;
  font-family: Georgia, serif;
  font-size: 130%;
  text-shadow: 1px 1px 0 rgba(136,136,136,0.5);
}
.content {
  width: 90%;
  margin: auto;
}
h1 {
  margin: 50px 0 0;
  font-size: 5rem;
  color: #e12222;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(207,129,129,0.7);
}
h2 {
  color: #f04040;
  font-size: 2rem;
}
h4 {
  color: #e5ce6b;
  font-size: 1.5rem;
}
a {
  color: #68c3c3;
}
.hr {
  width: 70%;
  height: 1px;
  margin: 40px auto 50px;
  background-color: rgba(233,186,0,0.3);
}
